<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        Nama Pengajar : <br>
        Pelajaran : <br>
        Tanggal : <br>
        Jenis Pelajaran : <br>
    </div>
    <table border="1"> 
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Absen</th>
                <th>pembelajaran</th>
                <th>Angka</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 </td>
                <td>1 </td>
                <td><select class="selectpicker form-line" name="id_pengguna" id="id_kelas">
                
                    <option value="M">M</option>
                    <option value="I">I</option>
                    <option value="S">S</option>
                    <option value="A">A</option>
                 </td>
                <td>
                
                </td>
                    <td><input type="number" name="" id="" max="100" min="0"> </td>
                    <td><input type="text" name="" id=""></td>
                    
            </tr>
        </tbody>
    </table>
</body>
</html>